<div class="formulaire">

  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <mat-list>
      <mat-list-item>
        <h1>Login</h1>
      </mat-list-item>

      <mat-list-item>
        <p>Email</p>
      </mat-list-item>
      <mat-list-item>

        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput required formControlName="email">
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <p>Password</p>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput required formControlName="password">
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <div class="alert alert-danger" *ngIf="error">
          <p>{{error}}</p>
        </div>
      </mat-list-item>
      <mat-list-item>
        <button mat-raised-button color="primary" [disabled]="!profileForm.valid">Submit</button>
      </mat-list-item>
    </mat-list>
  </form>
</div>







