.formulaire{
  position: absolute;
  margin: auto;
  top: 220px;
  right: 0;
  left: 0;
  height: 350px;
  width: 30%;
  background-color: #555;
}

mat-list{
  margin:auto;
}

.alert-danger{
  color: red;
}
